@model BlazingShop.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.IsConfirmed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", "Appointment", new { id = Model.AId}, new { @class = "btn btn-danger" })
    @Html.ActionLink("Back to List", "Index")
</p>
